@import "tailwindcss";

/* Article content link styling */
.text-gray-700 a,
.text-gray-600 a {
  color: #3b82f6; /* Blue color */
  text-decoration: underline;
  transition: color 0.2s ease;
}

.text-gray-700 a:hover,
.text-gray-600 a:hover {
  color: #2563eb; /* Darker blue on hover */
}

.layoutbg {
  background: linear-gradient(180deg, #5334bd 0%, #12004e 100%);
  overflow: visible;
  position: relative; /* Ensure it can be a reference for absolute positioning */
}
.image1 {
  background-repeat: repeat;
  background-size: 250px;
  bottom: 0px;
  left: -82px;
  width: 300px;
  height: 300px;
}

.image2 {
  background-repeat: repeat;
  background-size: 250px;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
}


@media screen and (max-width: 1550px) {
  .image2 {
    background-repeat: repeat;
    background-size: 250px;
    bottom: 0px;
  right: 0px;
  width: 200px;
  height: 200px;
  }
  .image1 {
    background-repeat: repeat;
    background-size: 250px;
    bottom: 0px;
  left: -82px;
  width: 300px;
  height: 300px;
  }
}


@media screen and (min-width:980px) and (max-width: 1280px) {
  .image2 {
    background-repeat: repeat;
    background-size: 250px;
    bottom: 0px;
  right: -97px;
  width: 200px;
  height: 200px;
  }
  .image1 {
    background-repeat: repeat;
    background-size: 250px;
    bottom: 0px;
  left: -141px;
  width: 300px;
  height: 300px;
  }
}

@media screen and (max-width: 980px) {
  .image2 {
    background-repeat: repeat;
    background-size: 250px;
    bottom: 206px;
    right: 0px;
    width: 200px;
    height: 200px;
  }
  .image1 {
    background-repeat: repeat;
    background-size: 250px;
    width: 200px;
    height: 200px;
    bottom: 0px;
    left: -129px;
  }
}

@media screen and (max-width: 767px) {
  .image2 {
    background-repeat: repeat;
    background-size: 250px;
    bottom: 188px;
    right: 0px;
    width: 200px;
    height: 200px;
  }
  .image1 {
    background-repeat: repeat;
    background-size: 250px;
    width: 200px;
    height: 200px;
    bottom: -171px;
    left: -24px;
  }
}

/* Style for the suggestions dropdown */
.suggestions-dropdown {
  position: absolute;
  top: 100%;
  /* Position right below the search input */
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* Ensure it appears above other elements */
}